@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card text-white bg-info mb-3">
        <div class="card-body">
            <h3 size="50px"><i>SURYAVANSHI<br />LIBRARY MANAGEMENT SYSTEM</i></h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <img src="~/Images/photo.jpg" width="1075" height="455">
</div>


